div
    div(ng-controller='AdminController as ac')
        table
            tr
                th
                    a Username
                th
                    a Email
            tr(ng-repeat='user in users')
                td {{user.username}}
                td {{user.email}}
                td
                    img(src="/images/rubbish-bin.png" ng-click="delete(user._id)")