h1 albums list

button Add photo
br
button(ng-click="vm.createAlbum(vm.title)") Add album
input(type='text' size='40' ng-model="vm.title")

div(ng-repeat='album in vm.albums')
    a(href='/albums/{{ album._id }}') {{ album.title }}

