div.text-center(ng-if="vm.myProfile")
    div.input-group.col-md-4.col-md-offset-4
        input.form-control(type='text' size='40' ng-model="vm.title")
        span.input-group-btn
            button.btn.btn-success(ng-click="vm.createAlbum(vm.title, $rootScope.user)") Add album
    div.form-group
        photo-upload(albums="vm.albums" after-upload="vm.reloadAlbumsList")

photo-grid(photos="vm.albumCovers" refresh="vm.reloadAlbumsList")


