div.panel.panel-default.center-block
    div.panel-body
        img.center-block.img-responsive(src="{{vm.photo.url}}")
    div.panel-footer
        span.badge Views: {{ vm.photo.view_count }}

flash-message

show-comments( comments-to='vm.photo' ng-if="vm.photo && vm.photo.status != 'no-comment'")