div.row
  div.col-md-10.col-md-offset-1.col-sm-12
    div.col-md-4.col-sm-4.col-xs-4
      //avatar
      img.img-responsive.img-thumbnail(src="http://placehold.it/250x250.jpg")
    div
      h1 {{ vm.user.username }}
      h3 {{ vm.user.first_name }} {{ vm.user.last_name }}

      div.btn.col-md-4
        a(href='/user/{{ vm.user.username }}/albums')
          h2 Albums
      div.btn.col-md-4(ng-if='vm.myProfile')
        a(href='/settings')
          h2 Settings

hr
h2 Recent photos or Profile Album photos (?)

div(ng-repeat='photo in vm.profileAlbum')
  img(ng-src="{{ vm.getPhotoUrl(photo.filename) }}" style="max-width: 600px; max-height: 600px")
