h1 Registration page.
br
div(ng-if="vm.message")
  span {{ vm.message }}

span First name:
input(ng-model="vm.newUser.first_name")
br
span Last name:
input(ng-model="vm.newUser.last_name")
br
span Email:
input(type="email" ng-model="vm.newUser.email")
br
span Username:
input(ng-model="vm.newUser.username")
br
span Password:
input(type="password" ng-model="vm.newUser.password")
br
button(ng-click="vm.register()") Register
