h1 Registration page.
br

span First name:
input(ng-model="vm.newUser.first_name")
br
span Last name:
input(ng-model="vm.newUser.last_name")
br
span Email:
input(type="email" ng-model="vm.newUser.email")
br
span Nickname:
input(ng-model="vm.newUser.username")
br
span Password:
input(type="password" ng-model="vm.newUser.password")
br
button(ng-click="vm.register()") Register
