h1 Settings page.
flash-message

div
  label First name:
  input(ng-model="vm.info.first_name" placeholder="{{user.first_name}}")
  br
  label Last name:
  input(ng-model="vm.info.last_name" placeholder="{{user.last_name}}")
  br
  label Email:
  input(ng-model="vm.info.email" placeholder="{{user.email}}")
  br
  button(ng-click='vm.update()') Change info
  br
  hr
  label Current password:
  input(ng-model="vm.info.password.current" required)
  br
  label New password:
  input(ng-model="vm.info.password.new" required)
  br
  label Repeat new password:
  input(ng-model="vm.info.password.repeat" required)
  br
  button(ng-click='vm.update()') Change password
