tab-container.col-md-8.col-md-offset-2(on-tab-select="vm.info = {}")
  tab(title="Info")
    form
      flash-message
      div.form-group
        label(for="first_name") First name:
        div.input-group
          span.input-group-addon
            i.glyphicon.glyphicon-user
          input.form-control(ng-model="vm.info.first_name" id="first_name" value="{{user.first_name}}")
      div.form-group
        label(for="last_name") Last name:
        div.input-group
          span.input-group-addon
            i.glyphicon.glyphicon-user
          input.form-control(type="text" ng-model="vm.info.last_name" id="last_name" value="{{user.last_name}}")
      div.form-group
        label(for="email") Email:
        div.input-group
          span.input-group-addon
            i.glyphicon.glyphicon-envelope
          input.form-control(type="email" ng-model="vm.info.email" id="email" valuer="{{user.email}}")
      button.btn.btn-success(ng-click="vm.update()") Update

  tab(title="Password")
    form
      flash-message
      div.form-group
        label(for="pass_current") Current password:
        div.input-group
          span.input-group-addon
            i.glyphicon.glyphicon-lock
          input.form-control(type="password" ng-model="vm.info.password.current" id="pass_current")
      div.form-group
        label(for="pass_new") New password:
        div.input-group
          span.input-group-addon
            i.glyphicon.glyphicon-lock
          input.form-control(type="password" ng-model="vm.info.password.new" id="pass_new")
      div.form-group
        label(for="pass_repeat") Repeat new password:
        div.input-group
          span.input-group-addon
            i.glyphicon.glyphicon-lock
          input.form-control(type="password" ng-model="vm.info.password.repeat" id="pass_repeat")
      button.btn.btn-success(ng-click="vm.update()") Update

  tab(title="Avatar")
    form
      flash-message
      div.text-center
        photo-upload(avatar btn-text="avatar")
