extends layout

block content
  div(ng-app='blog')
    div(ng-controller='AppController')
      header
        nav(ng-if='user')
          a(href='/') Home
          a(href='/user/{{ user.username }}') Profile
          a(href='/user') Find user
          a(href='/logout') Logout
          a(href='/admin' ng-if='user.isAdmin') Admin page
        nav(ng-if='!user')
          a(href='/') Home
          a(href='/login') Login
          a(href='/register') Register

      div(ng-view)
