doctype html
html
  head
    base(href='/')
    title PhotoBlog
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    script(src='/lib/angular/angular.min.js')
    script(src='/lib/angular-route/angular-route.min.js')
    script(src='/lib/angular-resource/angular-resource.min.js')
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/app.module.js')
    script(src='/js/app.config.js')
    script(src='/js/app.run.js')
    script(src='/js/app.controller.js')
    script(src='/js/tab.directive.js')
    script(src='/js/admin.controller.js')
    script(src='/js/access.service.js')
    script(src='/js/auth.controller.js')
    script(src='/js/auth.service.js')
    script(src='/js/flashMessage.service.js')
    script(src='/js/profile.controller.js')
    script(src='/js/users.controller.js')
  body
    block content
