doctype html
html
  head
    base(href='/')
    title PhotoBlog
    // include: "type": "css", "files": "**/*.css", "basePath": "dist"
    // /include
    // include: "type": "js", "files": "lib/**/*.js", "basePath": "dist"
    // /include
    // include: "type": "js", "files": "js/**/*.js", "basePath": "dist"
    // /include

  body
    block content
