doctype html
html
  head
    base(href='/')
    title PhotoBlog
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    script(src='/lib/angular/angular.min.js')
    script(src='/lib/angular-route/angular-route.min.js')
    script(src='/lib/angular-resource/angular-resource.min.js')
    script(src="/lib/ng-file-upload/ng-file-upload-shim.js")
    script(src="/lib/ng-file-upload/ng-file-upload.js")
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/app/app.module.js')
    script(src='/js/app/app.config.js')
    script(src='/js/app/app.run.js')
    script(src='/js/app/app.controller.js')
    script(src='/js/directives/tab.directive.js')
    script(src='/js/directives/photoUpload.directive.js')
    script(src='/js/directives/popUpDialog.directive.js')
    script(src='/js/directives/comment.directive.js')
    script(src='/js/directives/directives.js')
    script(src='/js/admin/admin.controller.js')
    script(src='/js/access.service.js')
    script(src='/js/auth/auth.controller.js')
    script(src='/js/auth/auth.service.js')
    script(src='/js/flashMessage.service.js')
    script(src='/js/profile.controller.js')
    script(src='/js/users.controller.js')
    script(src='/js/albums/albums.controller.js')
    script(src='/js/albums/albums.service.js')
    script(src='/js/photo/album.controller.js')
    script(src='/js/photo/photo.controller.js')
    script(src='/js/feed.controller.js')

  body
    block content
