doctype html
html
  head
    base(href='/')
    title PhotoBlog
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/lib/angular/angular.js')
    script(src='/lib/angular-route/angular-route.js')
    script(src='/js/app.module.js')
    script(src='/js/app.config.js')
    script(src='/js/app.run.js')
    script(src='/js/app.controller.js')
    script(src='/js/access.service.js')
    script(src='/js/auth.controller.js')
    script(src='/js/auth.service.js')
    script(src='/js/profile.controller.js')
    script(src='/js/users.controller.js')
  body
    block content
