body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header a {
    color: #00B7FF;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

section, footer, header, aside, nav {
    display: block;
}

/*-------------------------
	The menu
--------------------------*/

nav {
    display: inline-block;
    margin: 0 auto 45px;
    background-color: #5597b4;
    box-shadow: 0 1px 1px #ccc;
    border-radius: 2px;
}

nav a {
    display: inline-block;
    padding: 18px 30px;
    color: #fff !important;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none !important;
    line-height: 1;
    text-transform: uppercase;
    background-color: transparent;

    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

nav a:first-child {
    border-radius: 2px 0 0 2px;
}

nav a:last-child {
    border-radius: 0 2px 2px 0;
}

nav.user .user,
nav.projects .projects,
nav.services .services,
nav.contact .contact {
    background-color: #e35885;
}

p {
    font-size: 22px;
    font-weight: bold;
    color: #7d9098;
}

p b {
    color: #ffffff;
    display: inline-block;
    padding: 5px 10px;
    background-color: #c4d7e0;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 18px;
}

.tab-pane {
    padding-top: 20px;
}

.photogrid-item a {
    padding: 10px;
    height: 300px;
    overflow: hidden;
}

.photogrid-item a>img {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.profile-info {
    margin-bottom: 40px;
}

.profile-info a {
    margin: 10px 10px 0 0;
}

.profile-info a > h3 {
    padding: 0;
    margin: 0;
}
