<div class="comment-block">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group comment-input">
                <input type="text" class="form-control" placeholder="Enter your comment" ng-model="vm.comment">
                <span class="input-group-btn"> <button class="btn btn-default" type="button" ng-click="vm.postComment()">Post</button></span>
            </div>
        </div>
    </div>
    <div ng-repeat="comment in vm.comments" >
        <div class="panel panel-default panel-comment">
            <div class="panel-body">
                <div class="media comment">
                    <div class="media-left">
                        <a href="/user/{{comment.postedBy.username}}">
                            <img class="media-object" src="{{ comment.postedBy.avatar }}" alt="..." ng-if="comment.postedBy.avatar">
                            <img class="media-object" src="/images/no-avatar.png" alt="..." ng-if="!comment.postedBy.avatar">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="/user/{{comment.postedBy.username}}">
                                {{comment.postedBy.username}}
                            </a>
                        </h4>
                        {{comment.value}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>